<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
  function check()        
   {

   
  if(document.getElementById("lastten").checked) {
  document.getElementById('lastten').value = 'lastten';
  }
  else{
      document.getElementById('lastten').value = '';
      console.log(document.getElementById('lastten').value)
  }
   }

</script>
<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Welcome">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Customer Management</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/createcustomer">Create Customer</a>
              <a class="dropdown-item" href="/searchandupdate">Search and Update a Customer</a>
              <a class="dropdown-item" href="/searchanddelete">Search and Delete a Customer</a>
              <a class="dropdown-item" href="/customersstatus">Customers Status</a>
              <a class="dropdown-item" href="/individualcustomer">Individual Customer Status</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account Management</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/createaccount">Create an Account </a>
              <a class="dropdown-item" href="/deleteaccount">Delete an Account</a>
              
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account Operations</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/searchforcredit">Credit amount</a>
              <a class="dropdown-item" href="/searchfordebit">Debit Amount</a>
              <a class="dropdown-item" href="/transfermoney">Transfer Amount</a>
              <a class="dropdown-item" href="/searchforstatement">Account Statements</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account Status</a>
            <div class="dropdown-menu">
              
              <a class="dropdown-item" href="/accountsstatus">Accounts Status</a>
             
              
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="/logout"> <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>LogOut</a>
             
          </li>
      </ul>
    </div>
  </nav>
</div>
{% block body %}{% endblock %}

<!--Footer-->
<style>
  .f {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  </style>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <footer id="footer" class="page-footer  mt-4" >
      <div class="f">
      <div class="container">
      <div class="container text-center py-3" style="background-color: black">
  
          <h5 class="text-white font-weight-bold text-uppercase mt-3 mb-4">Retail Banking System</h5>
          <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
          <p class="text-white"></p>
          <p class="text-white"></p>
          <p class="text-white"></p>
          <p class="text-white"></p><p class="text-white"></p>
          <a class="text-white" href="/Welcome">Home <span class="sr-only">(current)</span></a>

  
      </div>
     
  
      <!-- Copyright-->
      <div class="text-white footer-copyright py-3 text-center" style="background-color:#303036;" >
          &copy; 2020 Copyright:
          <a href="#" class="text-white text-decoration-none">
              <strong> OUR TEAM</strong>
          </a>
      </div>
  </div>
      <!--/.Copyright -->
  </footer>
  <!--/.Footer-->
  
  